<ion-view title="Login">

  <ion-content style="background: url(img/login.jpg); background-size: cover;  background-repeat: no-repeat;
    background-position: center left; " scroll="false">
    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon"></div>
      </div>
    </div>
    <center>
      <div class="list">
        <ion-md-input ng-model="data.email" placeholder="email" highlight-color="balanced" type="email" class="input-login-forms"></ion-md-input>
        <ion-md-input ng-model="data.password" placeholder="password" highlight-color="balanced" type="password" class="input-login-forms"></ion-md-input>
      </div>
      <div class="padding">
        <button class="button button-login ink" ng-click="goToSignUp()"> Sign Up </button>
        <button class="button button-login ink" ng-click="loginEmail()">Login</button>
        <br>
        <!-- <button class="button button-facebook ink" ng-click="loginFacebook()">Log In with Facebook</button> -->
      </div>
    </center>
  </ion-content>
</ion-view>
