<ion-view title="Login">
  <ion-content style="background: url(img/login.jpg); background-size: cover;  background-repeat: no-repeat;
    background-position: center left; " scroll="false">
    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon"></div>
        <h1>what to eat?</h1>
      </div>
    </div>
    <center>
      <div class="list">

        <ion-md-input placeholder="Username" highlight-color="balanced" type="text" class="button-login"></ion-md-input>
        <ion-md-input placeholder="Password" highlight-color="balanced" type="password" class="button-login"></ion-md-input>

      </div>
      <div class="padding">
        <button class="button button-login button-assertive ink" ng-click="goToMenu()"> Sign Up </button>
        <br>
        <br>
        <button class="button button-login button-assertive ink" ng-click="goToMap()">Login</button>
      </div>
    </center>
  </ion-content>
</ion-view>
