<ion-view title="Login">
    <ion-content style="background: url(img/login.jpg); background-size: cover;" scroll="false">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Menu App</h1>
            </div>
        </div>
        <div class="list">
             <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
          <button class="button button-custom button-light button-assertive ink" ng-click="goToMenu()"> Grilled Cheezies</button>
            <button class="button button-full button-assertive ink" ng-click="goToMap()">Map</button>
        </div>
    </ion-content>
</ion-view>
