<ion-view title="Map">
<ion-content scrollbar-y="true">
<center>
	<div id="map" lat="0" lng="0" zoom="15" map>
	</div>
	<div>
<!-- 		<label class="item item-input button-custom">
			<input type="text" ng-model="user.desc" placeholder="Description of Dummy Save Location Lat Long">
		</label> -->
		<!-- <button class="button button-full button-light" ng-click="saveDetails()">Save</button> -->
		<button class="button button-custom button-light button-assertive ink" ng-click="goToLogin()"> Login </button>
		<button class="button button-custom button-light button-assertive ink" ng-click="goToMenu()"> Flying Pig </button>
		<button class="button button-custom button-light button-assertive ink" ng-click="goToMenu()"> Grilled Cheezies</button>
	</div>
</center>

</ion-content>

</ion-view>
