<ion-view title="Map">
	<ion-nav-bar class="bar-assertive">
 </ion-nav-bar>

<ion-content scrollbar-y="true">

<div id="map" lat="0" lng="0" zoom="15" map>
</div>
 <div id="right-panel">
      <h2>Results</h2>
      <ul id="places"></ul>
      <button id="more">More results</button>
    </div>
	<!-- <div>
		<button class="button button-custom button-assertive ink" ng-click="goToLogin()"> Login </button>
		<button class="button button-custom button-assertive ink" ng-click="goToMenu()"> Flying Pig </button>
		<button class="button button-custom button-assertive ink" ng-click="goToMenu()"> Grilled Cheezies</button>
	</div> -->

	<ion-list>
	  <ion-item ng-click="goToMenu()"> Flying Pig </ion-item>
	  <ion-item ng-click="goToMenu()"> The Keg </ion-item>
	  </ion-item>
	</ion-list>

</ion-content>
</ion-view>
