<ion-view title="Menu">
    <ion-content>

        <div class="list card" ng-repeat="menuItem in menuItems">
            <div class="item item-button-right">
                {{menuItem.itemName}}
                <button class="button button-positive" ng-click="likeItem(menuItem, restaurantName)">
                    <i class="icon ion-android-happy"></i>
                </button>
                <!-- <button class="button button-balanced" style="float: right" ng-click="likeItem(menuItem, restaurantName)">Like</button> -->
                <!-- <div style="float: right;margin-right: 30px;margin-top: 8px">{{menuItem.itemScore}} likes</div> -->
                <span class="badge badge-balanced badge-custom">{{menuItem.itemScore}} likes</span>
            </div>
        </div>

        <button class="button button-full button-positive" ng-click="goToMap()">Map</button>

    </ion-content>
</ion-view>
