<ion-view>
  <ion-nav-view name="main"></ion-nav-view>

  <ion-content style="background: url(img/login.jpg); background-size: cover;  background-repeat: no-repeat;
    background-position: center left; " scroll="false">
    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon"></div>
      </div>
    </div>
    <center>
      <div class="list">
        <br>
        <h3> Please fill in your user information </h3>
        <ion-md-input ng-model="data.email" placeholder="email" highlight-color="balanced" type="email" class="input-login-forms"></ion-md-input>
        <ion-md-input ng-model="data.password" placeholder="password" highlight-color="balanced" type="password" class="input-login-forms"></ion-md-input>
        <ion-md-input ng-model="data.rep_password" placeholder="repeat password" highlight-color="balanced" type="password" class="input-login-forms"></ion-md-input>
      </div>
      <div class="padding">
        <button class="button button-sign-up ink" ng-click="signupEmail()"> Confirm </button>
      </div>
    </center>
  </ion-content>
</ion-view>
