#map{
    width:100%;
    height:500px;
    margin:0px auto;
    box-shadow:0 0px 0px black;
}

.button-custom {
	width: 90%;
	margin: 10px auto;
}

.button-card {
  height: 150px;
  text-transform: capitalize;
  margin: 10px;
  text-align: left;
}

.button-facebook {
  width: 390px;
  text-transform: lowercase;
  background-color: rgb(59, 89, 152);
  color: white;
  margin: 8px auto;
}

.button-login {
  width: 195px;
  text-transform: lowercase;
  background-color: white;
  margin: 8px auto;
}

.button-sign-up {
  width: 390px;
  text-transform: lowercase;
  background-color: white;
  margin: 8px auto;
}

.input-login-forms {
  width: 390px;
  text-transform: lowercase;
  background-color: transparent;
  margin: 8px auto;
}

/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}

/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/logo.png') center;
    background-size: cover;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

.badge-custom {
    margin-top: 15px;
}
