#map{
    width:100%;
    height:550px;
    margin:0px auto;
}

.button-custom {
	width: 90%;
	margin: 8px auto;
}

.button-card {
  height: 150px;
  text-transform: capitalize;
  margin: 10px;
}

.button-login {
  width: 350px;
  text-transform: lowercase;
}

/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}

/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/logo.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;

.badge-custom {
    float: right;
    margin-right: 50px;
